
/* Content Wrapper */

.wrapper {
    /* CSS Variables */
    --base: #39ac73;
    --light: #9fdfbe;
    --dark: #20603f;

    padding: 0.5em;

    display: grid;

    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-areas: "header header header header"
                         "nav    main   main   aside "
                         "footer footer footer footer";
    grid-gap: 0.5em;
}

/* Titles in the elements */
.title {
    color: white;
    font: 800 1.5em 'Montserrat', sans-serif;
    text-decoration: underline solid white 0.2em;
    text-align: center;
}

/* Header Style */
.header {
    padding: 0.5em 5em;

    background-color: var(--base);

    grid-area: header;
}

/* NavMenu Style */
.nav {
    padding: 1em;
    
    background-color: var(--light);

    grid-area: nav;
}

/* Main Style */
.content {
    padding: 1em;

    background-color: var(--light);

    grid-area: main;

    display: grid;

    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-gap: 0.5em;
}

.content .title { grid-column: 1 / -1; grid-row: span 1; } /* Title in the content */

/* Article Style */
.article {
    height: 30vh;

    padding: 1.5em;

    background-color: var(--base);

    grid-column: span 1;
    grid-row: span 1;
}

/* Section Style */
.section {
    height: 30vh;

    padding: 0.5em;

    background-color: var(--dark);

    grid-column: span 1;
    grid-row: span 1;
}

/* Aside Style */
.aside {
    padding: 0.5em;

    background-color: var(--base);

    grid-area: aside;
}

/* Footer Style */
.footer {
    padding: 2em;

    background-color: var(--dark);

    grid-area: footer;
}

@media screen and (max-width: 968px) {
    .wrapper {
        grid-template-areas: "header header header header"
                             "main main main main"
                             "nav nav aside aside"
                             "footer footer footer footer";
    }
}

@media screen and (max-width: 678px) {
    .wrapper {
        grid-template-areas: "header header header header"
                             "main main main main"
                             "nav nav nav nav"
                             "aside aside aside aside"
                             "footer footer footer footer";
    }

    .content {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    }
}