/* Reset the Style Sheets */
body, p, h1, h2, h3, h4, h5, h6, ul, ol {margin: 0; padding: 0;}

html, body {
 width: 100%;
 height: 100%;

 overflow-x: hidden;
}

/* Variables in the StyleSheet */
:root {
 --base: #66b6ff;
 --light: #b3daff;
 --dark: #0084ff;
}

.wrapper {
 padding: 0.25em;

 display: grid;

 grid-template-areas: "header  header  header"
                      "content content nav"
                      "footer  footer  footer";
 grid-gap: 0.25em;
}


/* ---- Header Style ---- */ 
.header {
 width: 90%;

 margin: 0.5em auto;
 border-radius: 0.5em;
 padding: 1em;

 background-color: var(--base);

 grid-area: header;

 display: flex;

 flex-flow: row wrap;
 justify-content: center;
 align-items: baseline;
}

/* Titulo del Header */
.header .header__title {
 margin: 0 0.5em;
 border-radius: 0.25em;
 padding: 0.6em 3em;

 color: white;
 font: 800 1.5em 'Montserrat', sans-serif;

 background-color: var(--dark);
}

/* Texto junto a el Titulo */
.header .header__text {
 color: white;
 font: 600 1.2em 'Montserrat', sans-serif;
 text-decoration: underline solid var(--light) 0.15em;
}

/* ---- Navigation Menu ---- */
.nav {
 width: 95%;

 border-left: 0.2em solid var(--dark);
 border-bottom: 0.2em solid var(--dark);
 padding: 0.6em 0.6em 1.5em 0.6em;

 grid-area: nav;
 align-self: start;
}

/* Nav Title */
.nav .nav__title {
 margin: 0.5em 0.5em 0 0.5em;
 border-radius: 0.25em;
 padding: 1em;

 background-color: var(--base);
 color: white;
 font: 600 1.1em 'Montserrat', sans-serif;
 text-decoration: underline solid var(--light) 0.15em;
}

/* List in the Navigation */

.navList { 
 margin: 0 1em;
 border-left: 0.2em solid var(--base);
 border-bottom: 0.2em solid var(--base);
 padding: 0.25em 0.25em 0.5em 0.25em;
}

/* Objects in List in the Nav */
.navList .navList__object {
 margin: 0.2em;

 list-style-position: inside;
}
/* marker in the object */
.navList__object::marker {
 color: var(--base);
 font: 800 1.1em 'Montserrat', sans-serif;
}

/* Links in the object */
.navList__object a {
 color: black;
 font: 500 1em 'Montserrat', sans-serif;
 text-decoration: none;
}
.navList__object a:hover {
 color: var(--base);
 text-decoration: underline var(--base);
}

/* -- SubLists in the Lists -- */

.navList ol {
 margin: 0 1em 0.25em 1em;
 border-left: 0.2em solid var(--base);
 border-bottom: 0.2em solid var(--base);
 padding: 0.25em 0.25em 0.5em 0.5em;
}

/* Objects in SubList in the Lists */
.navList ol li {
 margin: 0.2em;

 list-style-position: inside;
}
/* marker in the object */
.navList ol li::marker {
 color: var(--base);
 font: 800 1.1em 'Montserrat', sans-serif;
}

/* Link in the Sublist */
.navList ol li a {
 color: black;
 font: 500 1em 'Montserrat', sans-serif;
 text-decoration: none;
}
.navList ol li a:hover {
 color: var(--base);
 text-decoration: underline var(--base);
}

/* ---- Main ---- */

.main {
 grid-area: content;
}

/* --- Articles --- */
.article {
 width: 90%;

 margin: 0 auto 0.8em auto;
 border-left: 0.2em solid var(--base);
 border-right: 0.2em solid var(--base);
 border-radius: 0.5em;
 padding: 1em;

}

/* Titles in the Article */
.article__title {
 margin: 0.25em auto;
 border-radius: 0.25em;
 padding: 0.5em;
 
 background-color: var(--base);

 color: white;
 font: 800 1.5em 'Montserrat', sans-serif;
}

/* Paragraphs in the Article */
.article p {
 width: 95%;

 margin: 0.3em auto;
 padding: 1em; 

 font: 500 1em 'Montserrat', sans-serif;
}

/* Lists in the Article */
.article ol, .article ul {
 width: 85%;

 margin: 0.5em;
 margin-left: 2em;
 border-left: 0.18em solid var(--dark);
 padding-inline-start: 0.5em;

 list-style-position: inside;
}

/* Markers in the List Objects */
.article ol li::marker, .article ul li::marker {
 color: var(--dark);
 font: 800 1.2em 'Montserrat', sans-serif;
}

/* Titles on the list */ 
.article ol h4 , .article ul h4 {
 margin: 0 0.25em;

 color: var(--dark);
 font: 700 1em 'Montserrat', sans-serif;
 text-decoration: underline solid var(--dark) 0.15em;
 
 display: inline-block;
}

/* List objects */

.article ol li, .article ul li {
 color: black;
 font: 500 1em 'Montserrat', sans-serif;
}


/* Code demonstrations in the articles and sections */
.code {
 width: 90%;

 margin: 0.5em;
 border-left: 0.25em solid var(--dark);
 border-radius: 0.25em;
 padding: 1em;

 background-color: #333;

 color: white;
 font: 600 0.8em 'montserrat', sans-serif;

 display: block;
}

.link {
 margin: 1em;

 color: var(--dark);
 font: 600 1.05em 'Montserrat', sans-serif;
 
 display: inline-block;
}

.link:hover { color: var(--base); }

/* - Section in the Article - */
.article .section {
 width: 90%;

 margin: 0.5em auto;
 border-left: 0.125em solid var(--base);
 border-right: 0.125em solid var(--base);
 padding: 1em;
}

/* Titles in the Section */
.article .section__title {
 margin: 0.75em auto;
 border-radius: 0.25em;
 padding: 0.5em;

 background-color: var(--base);

 color: white;
 font: 800 1.6em 'Montserrat', sans-serif;
}

/* Footer */

.footer {
 margin: 0.5em;
 border-radius: 0.5em;
 padding: 1em 2em;

 background-color: var(--dark);

 display: grid;

 grid-template: auto auto 1fr / repeat(3, 1fr);
 grid-template-areas: "title     title     title "
                      "text      text      text  "
                      "reference portfolio social";

 grid-area: footer;
}

.footer .footer__title { 
 color: white;
 font: 800 1.6em 'Montserrat', sans-serif;

 grid-area: title;
}

.footer .footer__text {
 color: white;
 font: 600 1em 'Montserrat', sans-serif;

 grid-area: text;
}

.portfolio { grid-area: portfolio; }
.reference { grid-area: reference; }
.social { grid-area: social; }

.footer-links {
 margin: 0.5em;
 border-radius: 0.5em;
 padding: 1em 0.5em;
 
 background-color: var(--base);
}

.footer-links .footer-links__title {
 color: white;
 font: 800 1.2em 'Montserrat', sans-serif;
}

.footer-links .linklist {
 margin-left: 0.5em;
}

.footer-links .linklist .linklist__object {
 list-style-position: inside;
}

.footer-links .linklist .linklist__object::marker {
 color: var(--dark);
 font: 800 1em 'Montserrat', sans-serif;
}

.footer-links .linklist .linklist__object > a {
 color: white;
 font: 400 0.8em 'Montserrat', sans-serif;
 text-decoration: none;
}

.footer-links .linklist .linklist__object > a:hover {
 text-decoration: underline solid var(--dark) 0.15em;
}

@media screen and (max-width: 750px) {
 body { font-size: 12px; }

 .wrapper {
  grid-template-areas: "header  header  header "
                       "nav     nav     nav    "
                       "content content content"
                       "footer  footer  footer ";
 }

 .footer {
  grid-template-areas: "title     title     title    "
                       "text      text      text     "
                       "reference reference reference"
                       "portfolio portfolio portfolio"
                       "social    social    social   ";
 }
}

@media screen and (max-width: 368px) {
 body { font-size: 10px; }
}